//colours

$dark-blue: #333745;
$off-black: #20222b;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$midnight-blue:#34495e;

//spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


//media queries

$desktop-breakpoint: 45rem;